.carousel-caption{
    padding-bottom: 180px !important;
}
.carousel-inner .carousel-item img{
    filter: brightness(50%);
}
.discover_header{
    width: 40%;
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .institute-image{
        height: 100%;
    }
}
@media only screen and (max-width: 1000px) {
    .institute-image{
        width: 100%;
    }
}